.customSelectBoxMainDiv{
  background: #FFFFFF;
  /* Grey Light */
  border: 1px solid #D4D6DB;
  box-sizing: border-box;
  /* border-radius: 16px; */
  /* overflow: hidden; */
  position: relative;
}
.customSelectBoxMainDivWithoutBorder{
  background: #FFFFFF;
  /* Grey Light */
  /* border: 1px solid #D4D6DB; */
  box-sizing: border-box;
  /* border-radius: 16px; */
  position: relative;
}
.customSelectBoxDiv{
  height: 48px;
  width: 100%;
  background: #FFFFFF;
  /* border: 1px solid #5F488A; */
  box-sizing: border-box;
  /* box-shadow: 0px 0px 16px rgba(95, 72, 138, 0.16); */
  /* border-radius: 16px 16px 16px 16px; */
}
.customSelectBoxDivNoBorder{
  height: 46px;
  width: 100%;
  background: #FFFFFF;
  /* border: 1px solid #5F488A; */
  box-sizing: border-box;
  /* border-radius: 16px 16px 0px 0px; */
  position: relative;
}
.fixArrowDivs{
  position: absolute;
  right: 10px;
  top: 13px;
}
.customSelectBoxDiv input{
  border: none;
  padding-left: 15px;
  padding-right: 15px;
}
.customSelectBoxDiv input:focus{
  /* border: 1px solid #5F488A; */
  box-shadow: "0 1px 5px 0 rgba(0, 0, 0, 0.12)";
  border: 0.5px solid var(--ui3Color)
}
.customSelectBoxDivNoBorder input{
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}
.customSelectBoxDivMulti input:focus{
  border: none!important;
  width: 100%;
}
.customSelectBoxDivMulti{
  min-height: 48px;
  width: 100%;
  background: #FFFFFF;
  /* border: 1px solid #5F488A; */
  box-sizing: border-box;
  /* box-shadow: 0px 0px 16px rgba(95, 72, 138, 0.16); */
  /* border-radius: 16px 16px 16px 16px; */
}
.customSelectBoxDivMulti input{
  width: 100%;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
}
.customSelectOptionDiv{
  max-height: 100px;
  width: 100%;
  overflow-x: auto;
  background: #FFFFFF;
  /* border: 1px solid #5F488A; */
  box-sizing: border-box;
  box-shadow: 2px 6px 3px rgba(33, 32, 37, 0.05);
  border-radius: 0px 0px 16px 16px;
  z-index: 999;
  position: absolute;
  top: 46px;
}
.customSelectOptionDivMulti{
  max-height: 100px;
  width: 100%;
  overflow-x: auto;
  background: #FFFFFF;
  /* border: 1px solid #5F488A; */
  box-sizing: border-box;
  box-shadow: 2px 6px 3px rgba(33, 32, 37, 0.05);
  border-radius: 0px 0px 16px 16px;
  z-index: 999;
}
.customSelectOptionDiv::-webkit-scrollbar-thumb{
  background-color: #E9BE50!important;
}
.customSelectOption{
  width: 100%;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}
.customSelectOption p{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #545455;
  margin-bottom: 0px;
}
.selectedOptionDiv{
  display: flex;
  flex-wrap: wrap;
}
.selectedOptionButton{
  all: unset;
  border: 1px solid #ccc;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 13px;
  margin: 5px 2px;
  display: flex;
  align-items: center;
}
.optionCloseButton{
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 9px;
  font-size: 10px;
  margin-left: 5px;
}